<div id="galerie">
  <dl id="photo">
    <dt>Philharmonie</dt>
    <dd><img id="big_pict" src="/assets/img/philharmonie1.JPG" alt="Concert à la Philharmonie de Paris(2016)" /></dd>
  </dl>
  <hr>
<ul id="galerie_mini">
  {% for item in include.items %}
      {% if item.mini %}
        {% if item.img %}
          {% if item.name %}
         <li>   <a href="{{ item.img }}" title="{{ item.name}}"><img src="{{ item.mini}}"  alt="{{ item.name}}"/></a>
  </li>
          {% endif %}
        {% endif %}
      {% endif %} 
  {% endfor %} 
    </ul>
</div>
