<div id="galerie">
  <dl id="photo">
    {% for item in include.init %}
    {% if item.img %}
    {% if item.name %}
    <dt>{{ item.name }}</dt>
    <dd><img id="big_pict" src="{{ item.img }}" alt="{{ item.name }}" /></dd>
      {% endif %}
        {% endif %}
    {% endfor %}
  </dl>
  <hr>
<ul id="galerie_mini">
  {% for item in include.items %}
      {% if item.mini %}
        {% if item.img %}
          {% if item.name %}
         <li>   <a href="{{ item.img }}" title="{{ item.name}}"><img src="{{ item.mini}}"  alt="{{ item.name}}"/></a>
  </li>
          {% endif %}
        {% endif %}
      {% endif %} 
  {% endfor %} 
    </ul>
</div>
