navbar { 
    height:220px; 
    display: flex; 
    align-items: center; 
} 


.list-circles {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .list-circles {
    width: 150%;
    margin-left: -25%;
  }
}


.list-circles-item {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  margin: 0;
  padding: 20px;
}

.list-circles-item:hover {
  background: #fafafa;
}

.list-circles-item .item-img {
  max-width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #777;
}

.list-circles-item .item-desc {
  font-size: 16px;
}

.list-circles-item .item-links {
  margin-top: 5px;
}

.list-circles-item .item-link {
  margin:0 3px;
  color: #314f96;
  text-decoration: none !important;
}

.list-circles-item .item-link:hover {
  color: #042265;
}

/*  Visionneuse */

div#galerie
{
 
  text-align: center ;
}

div#scroll{
    
  overflow-x: scroll;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  display: inline-block;
  width: 100px;
  vertical-align: top;
  margin: 0;
  padding: 10px;
}

list-mini-item#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px solid ;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{

}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  
}


dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{


}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{

}
